.signup-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background: #e8faf2;
}

.signup-card {
  width: 100%;
  max-width: 600px;
  /* margin: 0 auto; */
  /* align-items: center; */
}
.signup-form-button {
  width: 50%;
}

@media (max-width: 576px) {
  .signup-container {
    padding: 12px;
    align-items: center;
  }

  .signup-card {
    max-width: 100%;
  }

  /* ::ng-deep .ant-form-item-label {
    text-align: left !important;
  } */
}
